

<head>
    <title>Restablecer contraseña</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/login2style.css">
</head>
<body>
    <div class="background-container">
        <div class="logo-container">
          <img src="https://storage.googleapis.com/primerstorage/LogoA-removebg-preview.png" alt="Logo del bufete de abogados">
          <div class="text-container">
            <h1 style="color: white; font-family: 'Poppins',sans-serif;">Azurduy & Asociados</h1>
          </div>
        </div>
      </div>
    
    <form action="/reset-password?token=<%= token %>" method="post">
        <h1>Restablecer Contraseña</h1>
        <label for="password">Escriba su nueva contraseña:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Restablecer</button>
    </form>
</body>

